Checks: >
  -*,
  clang-analyzer-*,
  bugprone-assert-side-effect,
  bugprone-branch-clone,
  bugprone-dangling-handle,
  bugprone-infinite-loop,
  bugprone-narrowing-conversions,
  bugprone-suspicious-include,
  bugprone-suspicious-memset-usage,
  bugprone-use-after-move,
  performance-*,
  portability-*,
  -clang-analyzer-optin.performance.Padding,
  -performance-enum-size,
  -portability-avoid-pragma-once
WarningsAsErrors: '*'
HeaderFilterRegex: '.*[/\\](include|src|tests)[/\\].*'
SystemHeaders: false
FormatStyle: file
